.card {
    max-width: 50%;
    margin-left: 25%;
    margin-bottom: 2%;
}

.fas.fa-arrow-left {
    display: flex;
}

.fas.fa-shopping-cart {
    margin-left: 94%;
}

h1 {
    text-align: center;
}

.product-image {
    width : 28vw; 
}
.cart-image {
    width: 50%;
}

.cart-details {
    width: 50%;
}

.cart-title {
    width:100%;
}

.cart-summary {
    display: flex;
    flex-wrap: wrap;
    height: 40vw;
}

